# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
*.pem

# debug
.pnpm-debug.log*

# local env files
.env
.env.*
!.env.example

# editor config
.idea/
.vscode/

# log files
*.log


# typescript
*.tsbuildinfo
next-env.d.ts

# editor config
.idea/

# drizzle migrations
/drizzle
